STRING

In [11]:
#example 
name = "Zeeshan"
print(name)
print(name[0])
print(name[:3])
print(name.upper())
print(len(name))

Zeeshan
Z
Zee
ZEESHAN
7

INTEGER

In [16]:
#example : int
a = 10
b = 15
print(a+b)
print(a-b)
print(a*b)
print(50%7) # remainder as 1

25
-5
150
1

FLOAT

In [22]:
#example : float
pi =3.14
height = 1.75
weight =70.5
bmi = weight/ (height * height)
print(pi*2)
print(bmi)
print(round(bmi))

6.28
23.020408163265305
23

BOOLEAN

In [26]:
#example : bol
is_student = True
is_graduated = False
print(5 > 3) 
print(10 == 20)
print(bool(0)) 
print(bool("Hi"))

True
False
False
True

In [30]:
# Q1: Store your name in a variable and print the first 3 letters-------string****
name = "Zeeshan"
print(name[:3])

# Q2: Convert "python programming" into uppercase
text = "python programming"
print('python programming'.upper())

# Q3: Count how many characters are in "Hello World"
sentence = "Hello World"
print(len('Hello World'))

Zee
PYTHON PROGRAMMING
11

In [37]:
# Q4: Create variables a=10, b=20. Print sum, difference, product----integer***
a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)

# Q5: Check if a number is even or odd
num = 17
if num % 2 ==0:
    print("even")
else:
    print("odd")

# Q6: Find remainder when 50 is divided by 7
result = 50 % 7
print(result)

30
-10
200
odd
1

FLOAT

In [44]:
# Q7: Store your height (m) and weight (kg). Calculate BMI---float
height = 1.75
weight = 70
bmi= weight/(height*height)
print(bmi)
print(round(bmi))

# Q8: Add 3.5 and 2.8
result = 3.5 + 2.8
print(result)

22.857142857142858
23
6.3

BOOLEAN

In [46]:
# Q9: Check if age is greater than 18
age = 16
print(age>18)
# Q10: Check if 100 is equal to 10*10
print(100 == 10*10)

False
True

In [52]:
name = input("Enter your name:")
print("Hello," ,name + "! welcome to python.")

Enter your name: zeeshan

Hello, zeeshan! welcome to python.

VARIABLE

In [53]:
name = "Zeeshan"   # string variable
age = 25           # integer variable
height = 1.75      # float variable
is_student = True  # boolean variable

print(name, age, height, is_student)

Zeeshan 25 1.75 True

CASTING (TYPE CONVERSION)

In [54]:
# Convert int → float
x = 10
y = float(x)
print(y)        # 10.0

# Convert float → int
z = 9.8
print(int(z))   # 9

# Convert number → string
num = 100
print(str(num))  # "100"

# Convert string → int
s = "50"
print(int(s) + 10)  # 60

10.0
9
100
60

Operators In Python

In [55]:
# Sales Data
sales2020 = 35000
sales2021 = 65000
sales2022 = 55000

In [56]:
#to get total sale
total_sales= sales2020+ sales2021+sales2022
print(total_sales)

155000

In [57]:
product = "Iphone"
qty = 32
customer_pur = 2

In [58]:
print(qty)

32

In [59]:
qty= customer_pur - qty
print(qty)

-30

In [62]:
#to get sales percentage of year 2022
print(sales2022)
print(total_sales)

55000
155000

In [63]:
# percentage formula 
# obtain / total * 100

print((sales2022 / total_sales) * 100)

35.483870967741936

In [66]:
ratio2022 = round((sales2022 / total_sales) * 100)
print(ratio2022,"%")

35 %

In [70]:
#creating a program which compare two values
val1 = int(input("Enter Number:"))
val2 = int(input("Enter Number:"))
print (val1==val2)

Enter Number: 10
Enter Number: 10

True

"""1. Logical Operators

Logical operators are used with boolean values (True/False) to combine conditions.

and → True if both conditions are true

or → True if at least one condition is true

not → reverses the result (True → False, False → True)"""

In [71]:
#example
x = 10
y = 20

print(x > 5 and y > 15)   # True (both are true)
print(x > 15 or y > 15)   # True (second is true)
print(not(x > 5))         # False (because x>5 is True)

True
True
False

2. String Functions

Python has many built-in functions for strings.

In [72]:
#example
text = "  Python Programming  "

print(text.lower())      # "  python programming  "
print(text.upper())      # "  PYTHON PROGRAMMING  "
print(text.strip())      # "Python Programming" (removes spaces)
print(text.replace("Python", "Java"))   # "  Java Programming  "
print(text.split())      # ['Python', 'Programming']
print(len(text))         # 22 (includes spaces)
print(text.startswith("Py")) # False (because of spaces at start)
print(text.strip().startswith("Py"))    # True
print(text.find("gram"))  # 12 (index of substring)

  python programming
  PYTHON PROGRAMMING
Python Programming
  Java Programming
['Python', 'Programming']
22
False
True
12

3. Membership Operators

Used to check if a value (like character or substring) exists in a string, list, or other sequences.

in → returns True if value exists

not in → returns True if value does not exist

In [73]:
#example
sentence = "I am learning Python"

print("Python" in sentence)      # True
print("Java" in sentence)        # False
print("Java" not in sentence)    # True

True
False
True

In [74]:
# types of Data Structures
# 1) List
# 2) Tuple
# 3) Set
# 4) Dictonary

In [75]:
#example for list
shop = [1001,"Headphone",45,67.8,"Boat"]
print(shop)

[1001, 'Headphone', 45, 67.8, 'Boat']

In [76]:
type(shop)

list

In [77]:
# Empty List
names = []

In [78]:
print(names)

[]

In [79]:
fruits = ["apple", "banana", "cherry"]

print(fruits[0])   # apple
print(fruits[1])   # banana
print(fruits[-1])  # cherry (last item)

apple
banana
cherry

In [80]:
#changing list items
fruits = ["apple", "banana", "cherry"]
fruits[1] = "mango"
print(fruits)   # ['apple', 'mango', 'cherry']

['apple', 'mango', 'cherry']

In [81]:
#adding items
fruits = ["apple", "banana"]
fruits.append("cherry")       # Add at end
print(fruits)  # ['apple', 'banana', 'cherry']

fruits.insert(1, "mango")     # Insert at index 1
print(fruits)  # ['apple', 'mango', 'banana', 'cherry']

['apple', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry']

In [82]:
#removing items
fruits = ["apple", "banana", "cherry"]

fruits.remove("banana")   # Remove by value
print(fruits)  # ['apple', 'cherry']

fruits.pop()   # Removes last item
print(fruits)  # ['apple']

fruits.pop(0)  # Removes item at index 0
print(fruits)  # []

['apple', 'cherry']
['apple']
[]

In [83]:
#list functions 
numbers = [10, 20, 30, 40]

print(len(numbers))       # 4 (length)
print(max(numbers))       # 40 (largest value)
print(min(numbers))       # 10 (smallest value)
print(sum(numbers))       # 100 (sum of all values)

4
40
10
100

In [84]:
#list methods
numbers = [10, 30, 20, 40]

numbers.sort()            # Ascending
print(numbers)            # [10, 20, 30, 40]

numbers.sort(reverse=True) # Descending
print(numbers)            # [40, 30, 20, 10]

numbers.reverse()          # Reverse order
print(numbers)            # [10, 20, 30, 40] → [40, 30, 20, 10]

numbers.append(50)         # Add at end
numbers.extend([60, 70])   # Add multiple
print(numbers)             # [40, 30, 20, 10, 50, 60, 70]

[10, 20, 30, 40]
[40, 30, 20, 10]
[10, 20, 30, 40]
[10, 20, 30, 40, 50, 60, 70]

In [85]:
#looping through list
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [86]:
#nested list(list inside list)
nested = [[1, 2, 3], ["a", "b", "c"]]
print(nested[0])      # [1, 2, 3]
print(nested[0][1])   # 2
print(nested[1][2])   # c

[1, 2, 3]
2
c

In [87]:
# Tuple is a data structure of Python which is used to store data
# Tuple Features
# Tuple can store any kind data
# Tuple items are enclosed with in round brackets(string, int, float, boolean)
# Tuple is Immutable(Unchangable)
# Tuple is Ordered
# Tuple is Indexble

In [88]:
# Example
data = ("LV","Gucci","Armani",'Addidas',"Nike")
print(data)

('LV', 'Gucci', 'Armani', 'Addidas', 'Nike')

In [89]:
type(data)

tuple

In [90]:
# converting tuple into list to add an item
data_list = list(data)
type(data_list)

list

In [91]:
print(data_list)

['LV', 'Gucci', 'Armani', 'Addidas', 'Nike']

In [92]:
data_list.append("Fila")
data_list.append("Lenovo")

In [93]:
print(data_list)

['LV', 'Gucci', 'Armani', 'Addidas', 'Nike', 'Fila', 'Lenovo']

In [94]:
for i in data:
    if i == "Armani":
        print(i.replace("Armani","AX"))

AX

In [95]:
data_list

['LV', 'Gucci', 'Armani', 'Addidas', 'Nike', 'Fila', 'Lenovo']

In [96]:
# Dictonary is a data structure of python which is used to store data in Key:Value format
# Dictonary Features
# Dictonary items are enclosed with in flower brackets {str:string,int:integer,bool:boolean}
# Dictonary doesnot allow duplicate keys
# Dictonary data structure is also called JSON file format

In [97]:
student_info = {
    "StudentID":1001,
    "Name":"Syed Adnan",
    "Age":22,
    "Gender":"Male",
    "Address":"Hyderabad"
}

In [98]:
print(student_info)

{'StudentID': 1001, 'Name': 'Syed Adnan', 'Age': 22, 'Gender': 'Male', 'Address': 'Hyderabad'}

In [99]:
# update method is used to add a new Key:Value or update a key:Value
student_info.update({"Email":"adnan@gmail.com"})
print(student_info)

{'StudentID': 1001, 'Name': 'Syed Adnan', 'Age': 22, 'Gender': 'Male', 'Address': 'Hyderabad', 'Email': 'adnan@gmail.com'}

In [100]:
student_info.update({"Age":20})

In [101]:
print(student_info)

{'StudentID': 1001, 'Name': 'Syed Adnan', 'Age': 20, 'Gender': 'Male', 'Address': 'Hyderabad', 'Email': 'adnan@gmail.com'}

In [102]:
student_info["Name"] = "Syed Rahman"
print(student_info)

{'StudentID': 1001, 'Name': 'Syed Rahman', 'Age': 20, 'Gender': 'Male', 'Address': 'Hyderabad', 'Email': 'adnan@gmail.com'}

In [103]:
# to get only the keys
student_info.keys()

dict_keys(['StudentID', 'Name', 'Age', 'Gender', 'Address', 'Email'])

In [104]:
# to get only the values
student_info.values()

dict_values([1001, 'Syed Rahman', 20, 'Male', 'Hyderabad', 'adnan@gmail.com'])

In [105]:
for i in student_info.keys():
    print(i)

StudentID
Name
Age
Gender
Address
Email

In [106]:
# To get the sepecific value of the key
student_info.get("Email")

'adnan@gmail.com'

In [107]:
bio = {
    "Names":["Rahman",'Adnan','Junaid',"Siddiq","Imtiyaz"],
    "Age":[24,22,23,25,23]
}

In [108]:
print(bio)

{'Names': ['Rahman', 'Adnan', 'Junaid', 'Siddiq', 'Imtiyaz'], 'Age': [24, 22, 23, 25, 23]}

In [109]:
bio.get("Names")

['Rahman', 'Adnan', 'Junaid', 'Siddiq', 'Imtiyaz']

In [110]:
"Rahman" in bio.get("Names")

True

In [114]:
for i in bio.get("Names"):
    if i == "Junaid":
        ind = bio.get("Names").index(i)
        print(ind)

2

In [115]:
for i in bio.get("Names"):
    if i == "Siddiq":
        ind = bio.get("Names").index(i)
        bio.get("Names")[ind] = "Priya"
print(bio)

{'Names': ['Rahman', 'Adnan', 'Junaid', 'Priya', 'Imtiyaz'], 'Age': [24, 22, 23, 25, 23]}