In [ ]:
# Loops in Python
# Loops in python is used to run a block of code repeatedly
# again and again until the condition satisfied
# there are two types of loops
# 1) For loop
# 2) While loop

In [ ]:
fruits =[]
fruits.append("Apple")
fruits.append("Banana")
fruits.append("Mango")
fruits.append("Pineapple")
fruits.append("Kiwi")
print(fruits)

In [ ]:
#example of for loop
fruits = []
#range method used to get the of numbers.
for i in range(1,6):
    frt = input("Enter fruit name:")
    fruits.append(frt)
    print(fruits)

In [ ]:
#now the new code
for i in range(1,11):
    print(i)

In [ ]:
print("Python is a Programming Language!")
print("Python is a Programming Language!")
print("Python is a Programming Language!")
print("Python is a Programming Language!")
print("Python is a Programming Language!")

In [ ]:
for i in range(1,6):
    print("Python is a Programming Language!")

In [ ]:
for i in range(1,6):
    print("Inside the loop")
print("outside the loop")

In [ ]:
fruits=["kiwi, grapes, apple, orange, banana"]

In [ ]:
fruits.upper()

In [ ]:
for i in fruits:
    print(i)

In [ ]:
for i in fruits:
    print(i.upper())

In [ ]:
print(fruits[0].upper())

In [ ]:
#create a table program
num= int(input("Enter the number:"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

In [ ]:
age =[]

for i in range(1,11):
    val = int(input("Enter the age:"))
    age.append(val)
    print(age)

In [ ]:
print(age)

In [ ]:
age.sort()
print(age)

In [ ]:
#formula of average
#sun of observation/ number of observaion
numofage = len(age)
print(numofage)

In [ ]:
age=[10,21,32,42,1,23,44,22]

In [ ]:
total=sum(age)
print(total)

In [ ]:
#avg
avg= sum(age)/len(age)
print("Average",avg)

In [ ]:
#round the avg age
avg=sum(age)/len(age)
Round_avg=round(avg,1)
print("Rounded Average",Round_avg)

In [ ]:
prices = [2.3,4.5,5.5,12.4,34.5,23.6]

In [ ]:
for i in prices:
    print("Old price--------",i,"New price------",i+100)

In [ ]:
print(prices)

In [ ]:
new_prices =[]
for i in prices:
    new_prices.append(i+10)
    print(prices)
    print(new_prices)

In [ ]:
new_prices.sort(reverse=False)
print(new_prices)

In [ ]:
# Conditional Statement in Python

# Conditional Stantement in python is used to perfrom specific task based on conditions

# there are three types of Conditional Statements
# 1) If ---- IT used to perfrom the Conditional Statement in python
# 2) Elif--- It used to pefrom multiple conditional Statements
# 3) Else--- It pefrom if or elif condition won't satisfied

In [ ]:
if 100 == 100:
    print("Yes 100 is not equals to 100")

In [ ]:
if 100!=100:
    print("Yes 100 is not equals to 100")

In [ ]:
#program
num1 = int(input("Enter number:"))
num2 = int(input("Enter number:"))

if num1 == num2:
    print(num1+num2)
elif num1 != num2:
    print(num1+ num2)

In [ ]:
# Furit List
fruits = ["Banana",'Orange',"Pineapple",'Mango','Apple',"Kiwi"]

In [ ]:
"Banana" in fruits

In [ ]:
"Strawberry" in fruits

In [ ]:
# Creating a program to find the value which is provided by the user is available or not
frt = input("Enter fruit name:")
if f"{frt}" in fruits:
    print(f"{frt}) is in stock")
else:
    print(f"{frt}) not in stock")

In [ ]:
for i in range(1,6):
    print(i)

In [4]:
for i in range(1,1001):
    if i == 10:
        break
        print(i)

In [7]:
#creating a program to enter 100 values
names = []

for i in range(1,1001):
    user = input("Enter Name:")
    if user == 'stop':
       break
    names.append(user)
print(names)

Enter Name: rahman
Enter Name: zeeshan
Enter Name: junaid
Enter Name: faizan
Enter Name: adnan
Enter Name: stop

['rahman', 'zeeshan', 'junaid', 'faizan', 'adnan']

In [8]:
#create a program to store even numbers from 2 to 100 in a list
#create a program to find out wheather the number is even or odd

# store even numbers from 2 to 100
even_numbers = [num for num in range(2, 101) if num % 2 == 0]

print("Even numbers from 2 to 100:")
print(even_numbers)

Even numbers from 2 to 100:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [10]:
# check if a number is even or odd
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

Enter a number:  2

2 is Even

In [11]:
# Function in Python
# There Are two types of functions in python
# 1) Inbuilt Functions ---- print, len, type, input, str, int, float, bool Etc.
# 2) User Defined Function

In [12]:
# User Defined Function
# The Function which is created by a User is called UDF.
# UDF is used to organize the code or program

# def keyword is used to create UDF.
#  Syntax to Create a UDF
# def function_name(arg1,arg2,arg3....):
#     block of code

In [13]:
# Creating a function Called greet to get the output as hello world
def greet():
    return "Hello World!"

In [14]:
greet()

'Hello World!'

In [18]:
#passing an argument
def greet_with_name(Name):
    return f"Hello {Name}!"

In [19]:
greet_with_name("Zeeshan")

'Hello Zeeshan!'

In [20]:
#creating a function to mutiple two values
def product(x,y):
    result = x*y
    return f"The product of two values: {result}"

In [21]:
product(100,5)

'The product of two values: 500'

In [22]:
product(10,10)

'The product of two values: 100'

In [23]:
#creating a function to sumup the values
def sumup(*numbers):
    result = 0
    for i in numbers:
        result += i
    return result

In [24]:
sumup(100,200)

300

In [25]:
sumup(100,5)

105

In [26]:
sumup(100,200,25,78,98)

501

In [27]:
tzid = [101,102,103,104,105]
tzname = ['rahman','junaid','saif','adnan','siddiq']
tzcourse=['DA','DS','DM','DS','DM']

In [28]:
for i in tzid:
    print(i)

101
102
103
104
105

In [29]:
for i in tzname:
    print(i)

rahman
junaid
saif
adnan
siddiq

In [30]:
for i in tzcourse:
    print(i)

DA
DS
DM
DS
DM

In [31]:
#creating a function to iterate the values of lists
def iterate(any_list):
    for i in any_list:
        print(i)

In [32]:
tzname

['rahman', 'junaid', 'saif', 'adnan', 'siddiq']

In [33]:
iterate(tzname)

rahman
junaid
saif
adnan
siddiq

In [34]:
tzid

[101, 102, 103, 104, 105]

In [35]:
iterate(tzid)

101
102
103
104
105

In [36]:
iterate(tzcourse)

DA
DS
DM
DS
DM

In [37]:
tzcourse

['DA', 'DS', 'DM', 'DS', 'DM']

In [38]:
#creating a nested dictonary
bio ={
    "ID":tzid,
    "Name":tzname,
    "Course":tzcourse
}

In [39]:
print(bio)

{'ID': [101, 102, 103, 104, 105], 'Name': ['rahman', 'junaid', 'saif', 'adnan', 'siddiq'], 'Course': ['DA', 'DS', 'DM', 'DS', 'DM']}

In [40]:
for i in range(1,1001):
    user_id = int(input("Enter ID:"))
    if user_id == 0:
        break
    user_name = input("Enter Name:")
    user_course = input("Enter Course:")

    bio.get("ID").append(user_id)
    bio.get("Name").append(user_name)
    bio.get("Course").append(user_course)
print(bio)

Enter ID: 106
Enter Name: Zeeshan
Enter Course: DA
Enter ID: 107
Enter Name: Sameer
Enter Course: DA
Enter ID: 0

{'ID': [101, 102, 103, 104, 105, 106, 107], 'Name': ['rahman', 'junaid', 'saif', 'adnan', 'siddiq', 'Zeeshan', 'Sameer'], 'Course': ['DA', 'DS', 'DM', 'DS', 'DM', 'DA', 'DA']}

In [41]:
type(bio.get("ID"))

list

In [42]:
type(bio)

dict

In [43]:
# Create a function which gives the out put as sqrt of any number
import math

def find_sqrt(num):
    return math.sqrt(num)

In [44]:
print(find_sqrt(25))

5.0

In [45]:
print(find_sqrt(16))

4.0

In [46]:
# Creating Function Which give Sqrt output of a multiple values
numbers = [4,9,16,25,64,144]
sqrt_num =[]

def mul_sqrt(sqrt_list):
    for i in sqrt_list:
        st = i** 0.5
        sqrt_num.append(st)

In [47]:
mul_sqrt(numbers)
print(sqrt_num)

[2.0, 3.0, 4.0, 5.0, 8.0, 12.0]

In [48]:
for i in sqrt_num:
    print(i)

2.0
3.0
4.0
5.0
8.0
12.0

In [49]:
# File Handling In Python

# File handling in python is used to manipulate file
# Open method of python is used to manipulate file
# Mostly file handling is used in Web developement
# Open method takes two arguments
# 1) file_name.txt
# 2) Mode of the file (Read, Append, Create, OverWrite)

# Read Mode ----- r ------ It is used to read the file content.
# Create Mode --- x ------ It is used to create an Empty File.
# Append Mode --- a ------ It is used to add content in a File.
# OverWrite Mode - w ------ It is used to overwrite the File content.

# Syntax
# open("FileName.txt","mode")

In [50]:
#to create a new file
create = open("SQL.txt",'x')
create.close()

In [51]:
#to add the file content
add = open("SQL.txt",'a')
add.write("SQL stands for Structured Query Language Which is used to manipulate the data of RDBMS")
add.close()

In [52]:
#to read a file content
view = open("SQL.txt",'r')
print(view.read())
view.close()

SQL stands for Structured Query Language Which is used to manipulate the data of RDBMS

In [54]:
#to overwrite the file content
update = open("SQL.txt",'w')
update.write("Hello SQl!")
update.close()

In [55]:
view= open("SQL.txt",'r')
print(view.read())
view.close()

Hello SQl!

In [56]:
# Creating a function to add a new file, enter content and read the file
def file(file_name,file_content):
    create = open(file_name,'x')
    create.close()

    content = open(file_name,'a')
    content.write(file_content)
    content.close()

    view = open(file_name,'r')
    print(view.read())
    view.close()

In [57]:
file("PowerBi.txt", "PowerBi is a data visualisation Tool!")

PowerBi is a data visualisation Tool!

In [61]:
file("Excel.txt", "Excel is an Electronic Spreadsheet Program")

Excel is an Electronic Spreadsheet Program

In [62]:
# open method doesnot have delete function to remove a file 

# What is Library?
# Libraries in python is a Pre Written code 
# Which helps user to create a program in an easier manner.
# libraris are collection of functions and modules
# Types of Libraries
# 1) OS
# 2) Math
# 3) datetime
# 4) Random
# 5) Pandas
# 6) Matplotlib
# 7) Seaborn
# 8) BeautifulSoup
# 9) Requests
# 10) PyMySQL
# 11) Textbolb
# 12) PandasAI
# 13) RegExp

In [64]:
# OS library in python is used to manipulate the Operating System
#to remove the file
import os
os.remove("SQL.txt")

In [65]:
os.remove("Excel.txt")

In [66]:
os.remove("PowerBi.txt")